<template>
  <div id="app">
    <router-view/>
    <notifications group="obavestenja"/>
  </div>
</template>

<script>


export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-width: 430px;
}

button {
  font-size: 1.3em;
  padding: 10px 20px;
  margin: 10px;
  background-color: #FFB84D;
  border: 0;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  width: 300px;
}

button:hover {
  background-color: rgba(255, 184, 77, 0.5);
}
</style>
