<template>
  <div>
    <div>
      <NavigationProdavac/>
    </div>
    <div class="dodavanjeContent">
      <div>
        <h1>Dodavanje novog proizvoda:</h1>
      </div>
      <div class="cardInfo">
        <table id="dodavanjeProizvodaTable">
          <tr>
            <td class="left2">Naziv:</td>
            <td><input class="lozinkaRight" type='text' v-model='proizvod.name'></td>
          </tr>
          <tr>
            <td class="left2">Cena:</td>
            <td><input style="width: 190px!important;" min="0" class="lozinkaRight" type='number' v-model='proizvod.price'>
              <label class="left2" style="margin-left: 30px">din</label>
            </td>
          </tr>
          <tr>
            <td class="left2">Slika:</td>
            <td style="text-align: left!important;">
              <label id="labelIzaberi" for="upload">Izaberi</label>
              <label class="left2">{{ proizvod.picture }}</label>
              <input id="upload" type="file" accept="image/png" @change="setName($event)">
            </td>
          </tr>
          <tr>
            <td class="left2">Opis:</td>
            <td><textarea rows="3" class="lozinkaRight area" type='text' v-model='proizvod.opis'/></td>
          </tr>
          <tr>
            <td class="left2">Način korišćenja:</td>
            <td><textarea rows="3" class="lozinkaRight area" type='text' v-model='proizvod.nacinKoriscenja'/></td>
          </tr>
          <tr>
            <td colspan="2" class="errorMessage">{{message}}</td>
          </tr>
          <tr>
            <td colspan="2">
              <button @click="dodavanje()">Dodaj proizvod</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <modal name='dodavanjeModal'>
      <div>
        <h2>Da li ste sigurni da želite da dodate ovaj proizvod?</h2>
        <table>
          <tr>
            <td>
              <button @click='dodajProizvod()'>Dodaj proizvod</button>
            </td>
            <td>
              <button @click='odustani()'>Odustani</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
import NavigationProdavac from "./NavigationProdavac";
import proizvodi from "../data/proizvodi";

export default {
  name: "DodavanjeProizvoda",
  components: {NavigationProdavac},
  data() {
    return {
      proizvod: {"picture": 'slika.jpg'},
      sviProizvodi: proizvodi,
      slika: '',
      message:''
    }
  },
  methods: {
    dodavanje() {
      if (this.proizvod.name === '' || this.proizvod.price === '' || this.proizvod.picture === 'slika.jpg' ||
          this.proizvod.nacinKoriscenja === '' || this.proizvod.opis === '' ) {
        this.message = "Morate uneti sve podatke!"
        this.$notify({
          group: 'obavestenja',
          title: 'Greška',
          text: 'Dogodila se greška u unosu podataka.',
          type: 'error'
        })
      } else {
        this.$modal.show('dodavanjeModal')
      }
    },
    odustani() {
      this.$modal.hide('dodavanjeModal')
    },
    setName(event) {
      this.proizvod.picture = event.target.files[0].name
    },
    dodajProizvod() {
      this.$modal.hide('dodavanjeModal')
      if (localStorage.getItem('proizvodi') == null) {
        localStorage.setItem('proizvodi', JSON.stringify(this.sviProizvodi))
      } else {
        this.sviProizvodi = JSON.parse(localStorage.getItem('proizvodi'))
      }
      this.proizvod.kolicina = 0
      this.proizvod.price += 'din'
      this.proizvod.id = this.sviProizvodi.length
      this.proizvod.picture = 'svece.jpg'
      this.sviProizvodi.push(this.proizvod)
      localStorage.setItem('proizvodi', JSON.stringify(this.sviProizvodi))
      this.$notify({
        group: "obavestenja",
        title: 'Obaveštenje',
        text: 'Uspešno dodat proizvod!',
        type: 'success'
      })
      this.proizvod = {}
    }
  },
  mounted() {
    document.getElementById('upload').addEventListener('change', (e) => {
      const file = e.target.files[0]
      const reader = new FileReader()
      reader.onloadend = () => {
        const base64String = reader.result.replace('data:', '').replace(/^.+,/, '')
        this.proizvod.fajl = base64String
        //document.body.style.background = `url(data:image/png;base64,${base64String})`
      };
      reader.readAsDataURL(file)
    })
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '0') {
        this.$router.push("/kupacHome")
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1108px) {
  .dodavanjeContent {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1108px) {
  .dodavanjeContent {
    margin-top: 160px;
  }
}

.left2 {
  text-align: left;
  font-size: 1.3em;
  min-width: 170px;
}

#upload {
  visibility: hidden;
  width: 0;
}

#dodavanjeProizvodaTable {
  margin: 0 auto;
}

#dodavanjeProizvodaTable td {
  padding: 13px !important;
}

.area {
  resize: none;
  width: 100%;
}

#labelIzaberi {
  width: 110px;
  margin: 10px 10px 10px 0;
  font-size: 1.3em;
  padding: 5px 20px;
  background-color: #FFB84D;
  border: 0;
  width: 300px;
}

#labelIzaberi:hover {
  background-color: rgba(255, 184, 77, 0.5);
}
</style>