<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class='contentMojiPodaci'>
      <h1>Izmena podataka:</h1>
      <table>
        <tr>
          <td class="left">Ime:</td>
          <td><input class="lozinkaRight" type='text' v-model='user.ime'></td>
        </tr>
        <tr>
          <td class="left">Prezime:</td>
          <td><input class="lozinkaRight" type='text' v-model='user.prezime'></td>
        </tr>
        <tr>
          <td class="left">Kontakt telefon:</td>
          <td><input class="lozinkaRight" type='text' v-model='user.kontaktTelefon'></td>
        </tr>
        <tr>
          <td class="left">Adresa:</td>
          <td><input class="lozinkaRight" type='text' v-model='user.adresa'></td>
        </tr>
        <tr>
          <td class="left">Korisničko ime:</td>
          <td><input class="lozinkaRight" type='text' v-model='user.username'></td>
        </tr>
        <tr>
          <td colspan="2" class="errorMessage">{{ message }}</td>
        </tr>
        <tr>
          <td>
            <button @click='izmenaPodataka()'>Izmeni podatke</button>
          </td>
          <td>
            <button @click='odustani()'>Odustani</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";

export default {
  name: "IzmenaPodatakaKupac",
  components: {NavigationKupac},
  data() {
    return {
      user: {},
      message: ''
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {
        this.user = user
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  },
  methods: {
    odustani() {
      this.$router.back()
    },
    izmenaPodataka() {
      if (this.user.ime === '' || this.user.prezime === '' || this.user.adresa === '' || this.user.username === '' || this.user.kontaktTelefon === '') {
        this.message = "Morate uneti sve podatke!"
        this.$notify({
          group: 'obavestenja',
          title: 'Greška',
          text: 'Dogodila se greška u unosu podataka.',
          type: 'error'
        })
      } else {
        let myUsers = JSON.parse(localStorage.getItem('users'))
        const unpackedUser = JSON.parse(localStorage.getItem('ulogovan'))
        let user = myUsers.find(user => (user.username === this.username) && (user.username !== unpackedUser.username))
        if (user == null) {
          user = myUsers.find(user => (user.username === unpackedUser.username))
          myUsers = myUsers.filter(function (value) {
            return value.username !== user.username
          })

          unpackedUser.ime = this.user.ime
          unpackedUser.username = this.user.username
          unpackedUser.prezime = this.user.prezime
          unpackedUser.adresa = this.user.adresa
          unpackedUser.kontaktTelefon = this.user.kontaktTelefon

          myUsers.push(unpackedUser)
          localStorage.setItem('users', JSON.stringify(myUsers))
          localStorage.setItem('ulogovan', JSON.stringify(unpackedUser))
          this.$router.push('MojiPodaciKupac')
          this.$notify({
            group: 'obavestenja',
            title: 'Obaveštenje',
            text: 'Uspšno ste se promenili podatke.',
            type: 'success'
          })
        } else {
          this.message = "Korisničko ime je zauzeto"
          this.$notify({
            group: 'obavestenja',
            title: 'Greška',
            text: 'Dogodila se greška u unosu podataka.',
            type: 'error'
          })
        }
      }
    }
  }
}
</script>

<style>

.lozinkaRight {
  font-size: 1.1em;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
}
</style>