<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class='contentMojiPodaci'>
      <h1>Izmena lozinke:</h1>
      <table>
        <tr>
          <td class="left">Stara lozinka:</td>
          <td><input class="lozinkaRight" type='password' v-model='oldPassword'></td>
        </tr>
        <tr>
          <td class="left">Nova lozinka:</td>
          <td><input class="lozinkaRight" type='password' v-model='password'></td>
        </tr>
        <tr>
          <td class="left">Potvrda lozinke:</td>
          <td><input class="lozinkaRight" type='password' v-model='passwordConfirmation'></td>
        </tr>
        <tr>
          <td colspan="2" class="errorMessage">{{ message }}</td>
        </tr>
        <tr>
          <td>
            <button @click='izmenaLozinke()'>Izmeni lozinku</button>
          </td>
          <td>
            <button @click='odustani()'>Odustani</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";

export default {
  name: "IzmenaLozinkeKupac",
  components: {NavigationKupac},
  data() {
    return {
      oldPassword: '',
      passwordConfirmation: '',
      password: '',
      message: ''
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  },
  methods: {
    izmenaLozinke() {
      const unpackedUser = JSON.parse(localStorage.getItem('ulogovan'))
      if (unpackedUser.password === this.oldPassword) {
        if (this.passwordConfirmation === this.password) {
          unpackedUser.password = this.password
          localStorage.setItem('ulogovan', JSON.stringify(unpackedUser))

          let myUsers = JSON.parse(localStorage.getItem('users'))
          myUsers.find(user => user.username === unpackedUser.username).password = this.password
          localStorage.setItem('users', JSON.stringify(myUsers))

          this.$router.push('MojiPodaciKupac')
          this.$notify({
            group: 'obavestenja',
            title: 'Obaveštenje',
            text: 'Uspšno ste se promenili lozinku.',
            type: 'success'
          })
        } else {
          this.message = "Potvrda lozinke nije validna"
          this.$notify({
            group: 'obavestenja',
            title: 'Greška',
            text: 'Dogodila se greška u unosu podataka.',
            type: 'error'
          })
        }
      } else {
        this.message = "Uneta stara lozinka nije validna"
        this.$notify({
          group: 'obavestenja',
          title: 'Greška',
          text: 'Dogodila se greška u unosu podataka.',
          type: 'error'
        })
      }
    },
    odustani() {
      this.$router.back()
    }
  }
}
</script>

<style>

.lozinkaRight {
  font-size: 1.2em;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
}
</style>