<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class="content">
      <div>
        <img src="../assets/bee.png" height="200px">
      </div>
      <div>
        <label>Kupac: {{ name }}</label>
      </div>
      <div>
        <label>Dobrodošli u virtuelnu pčelarsku radnju!</label>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";

export default {
  name: "KupacHome",
  components: {NavigationKupac},
  data() {
    return {
      name: ''
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {
        this.name = user.ime
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1083px) {
  .content {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1083px) {
  .content {
    margin-top: 160px;
  }
}

.content {
  justify-content: center;
  font-size: 2em;
}

.content div {
  margin-bottom: 40px;
}
</style>