<template>
  <div>
    <div class="LoginTitle">
      <b>Medenjaci</b>
    </div>
    <div class="LoginContent">
      <div v-if="showLogin">
        <h1>Dobrodošli u virtuelnu pčelarsku radnju!</h1>
        <img src="../assets/logo.png" height="300">
        <table>
          <tr>
            <td class="left">Korisničko ime:</td>
            <td><input class="right" type='text' v-model='username'></td>
          </tr>
          <tr>
            <td class="left">Lozinka:</td>
            <td><input class="right" type='password' v-model='password'></td>
          </tr>
          <tr>
            <td colspan="2" class="errorMessage">
              {{ messageLogin }}
            </td>
          </tr>
          <tr>
            <td colspan='2'>
              <button @click='login()'>Prijavi se</button>
            </td>
          </tr>
          <tr>
            <td colspan='2' class="registerOrLogin" @click="loginToRegistracija()">Nemate nalog? Napravite sada!</td>
          </tr>
        </table>
      </div>
      <div v-if="!showLogin">
        <h1>Registracija</h1>
        <table>
          <tr>
            <td class="left">Ime:</td>
            <td><input class="right" type='text' v-model='name'></td>
          </tr>
          <tr>
            <td class="left">Prezime:</td>
            <td><input class="right" type='text' v-model='surname'></td>
          </tr>
          <tr>
            <td class="left">Kontakt telefon:</td>
            <td><input class="right" type='text' v-model='phoneNumber'></td>
          </tr>
          <tr>
            <td class="left">Adresa:</td>
            <td><input class="right" type='text' v-model='address'></td>
          </tr>
          <tr>
            <td class="left">Korisničko ime:</td>
            <td><input class="right" type='text' v-model='username'></td>
          </tr>
          <tr>
            <td class="left">Lozinka:</td>
            <td><input class="right" type='password' v-model='password'></td>
          </tr>
          <tr>
            <td class="left">Potvrda lozinke:</td>
            <td><input class="right" type='password' v-model='passwordConformation'></td>
          </tr>
          <tr>
            <td class="left">Tip korisnika:</td>
            <td>
              <input type='radio' v-model='type' value="0"><label style="font-size: 1.3em">Kupac</label>
              <input type='radio' v-model='type' value="1"><label style="font-size: 1.3em">Prodavac</label>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="errorMessage">
              {{ messageRegister }}
            </td>
          </tr>
          <tr>
            <td colspan='2'>
              <button @click='register()'>Registrujte se</button>
            </td>
          </tr>
          <tr>
            <td colspan='2' class="registerOrLogin" @click="loginToRegistracija()">Imate nalog? Prijavite se sada!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import users from "../data/users";

export default {
  name: "LoginComponent",
  data() {
    return {
      username: '',
      password: '',
      messageLogin: '',
      messageRegister: '',
      showLogin: true,
      myUsers: users,
      type: '',
      name: '',
      surname: '',
      phoneNumber: '',
      address: '',
      passwordConformation: ''
    }
  },
  methods: {
    loginToRegistracija() {
      this.showLogin = !this.showLogin
      this.messageLogin = ''
      this.messageRegister = ''
    },
    register() {
      if (localStorage.getItem('users') === null) {
        localStorage.setItem('users', JSON.stringify(this.myUsers))
      } else {
        this.myUsers = JSON.parse(localStorage.getItem('users'))
      }

      if (this.username === '' || this.password === '' || this.name === '' || this.surname === '' ||
          this.address === '' || this.phoneNumber === '' || this.type === '' || this.passwordConformation === '') {
        this.messageRegister = "Morate uneti sve podatke!"
        this.$notify({
          group: 'obavestenja',
          title: 'Greška',
          text: 'Dogodila se greška u unosu podataka.',
          type: 'error'
        })
      } else {
        let user = this.myUsers.find(user => user.username === this.username)
        if (user == null) {
          if (this.password !== this.passwordConformation) {
            this.messageRegister = "Unete lozinke se ne poklapaju"
            this.$notify({
              group: 'obavestenja',
              title: 'Greška',
              text: 'Dogodila se greška u unosu podataka.',
              type: 'error'
            })
          } else {
            user = {
              'username': this.username,
              'password': this.password,
              'ime': this.name,
              'prezime': this.surname,
              'kontaktTelefon': this.phoneNumber,
              'adresa': this.address,
              'tipKorisnika': this.type,
              'proizvodiUKorpi':[],
              'porudzbine':[]
            };
            this.myUsers.push(user)
            localStorage.setItem('users', JSON.stringify(this.myUsers))
            localStorage.setItem('ulogovan', JSON.stringify(user))
            if (user.tipKorisnika === "0") {//kupac
              this.$router.push("kupacHome")
            } else {//prodavac
              this.$router.push("ProdavacHome")
            }
            this.$notify({
              group: 'obavestenja',
              title: 'Obaveštenje',
              text: 'Uspšno ste se registrovali na sistem.',
              type: 'success'
            })
          }
        } else {
          this.messageRegister = "Korisničko ime već postoji"
          this.$notify({
            group: 'obavestenja',
            title: 'Greška',
            text: 'Dogodila se greška u unosu podataka.',
            type: 'error'
          })
        }
      }
    },
    login() {
      if (localStorage.getItem('users') === null) {
        localStorage.setItem('users', JSON.stringify(this.myUsers))
      } else {
        this.myUsers = JSON.parse(localStorage.getItem('users'))
      }

      const user = this.myUsers.find(user => user.username === this.username && user.password === this.password)
      if (user == null) {
        this.messageLogin = 'Greška u podacima'
        this.$notify({
          group: "obavestenja",
          title: 'Greška',
          text: 'Dogodila se greška u unosu podataka.',
          type: 'error'
        })
      } else {
        localStorage.setItem('ulogovan', JSON.stringify(user))
        this.$notify({
          group: 'obavestenja',
          title: 'Obaveštenje',
          text: 'Uspšno ste se prijavili na sistem.',
          type: 'success'
        })
        if (user.tipKorisnika === "0") {//kupac
          this.$router.push("kupacHome")
        } else {//prodavac
          this.$router.push("ProdavacHome")
        }
      }
    }
  }
}
</script>

<style>
.LoginTitle {
  background-color: #FFE0B3;
  text-align: center !important;
  font-size: 3.5em;
  color: black !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  min-width: 430px;
}

.LoginContent {
  margin-top: 145px;
  text-align: center;
}

.left {
  text-align: left;
  font-size: 1.3em;
}

.LoginContent table {
  margin: 0 auto;
}

.LoginContent table tr td {
  padding: 6px;
}

.right {
  font-size: 1.2em;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
}

.registerOrLogin {
  font-size: 1.1em;
  color: #BF7300;
  text-decoration: underline;
}

.errorMessage {
  color: red;
}
</style>