<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class="KorpaContent">
      <div>
        <h1 id="naslov">Moja korpa:</h1>
      </div>
      <div>
        <div>
          <label id="ukupnaCena">Ukupna cena: {{ ukupnaCena }} din</label>
          <button @click="narucivanje()" id="nnaruciButton">Naruči</button>
        </div>
      </div>
      <div class="headerKorpa">
        <table id="productTable">
          <tr class="headerKorpa">
            <td class="nameProductHeader">Naziv</td>
            <td class="columnsProduct">Cena po komadu</td>
            <td class="columnsProduct">Količina</td>
            <td class="columnsProduct">Ukupna cena</td>
            <td class="columnsProduct">Brisanje</td>
          </tr>
          <tr class='row' v-for='e in mojiProizvodi' v-bind:key="e.id">
            <td>
              <router-link :to="/ProizvodInfo/+e.id">
                <div class="nameProduct">{{ e.name }}</div>
              </router-link>
            </td>
            <td class="columnsProduct">{{ e.price }}</td>
            <td class="columnsProduct">{{ e.kolicina }}</td>
            <td class="columnsProduct">{{ e.price.replace("din", "") * e.kolicina + "din" }}</td>
            <td class="columnsProduct">
              <img @click="obrisi(e.id)" src="../assets/x.png" width="50px">
            </td>
          </tr>
          <tr class="row" v-if="ukupnaCena===0">
            <td colspan="5">Nemate nijedan proizvod u korpi! Pogledajte dostupne proizvode ovde:
              <router-link to="/Proizvodi">Link</router-link>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <modal name='NaruciModal'>
      <div>
        <h2>Da li ste sigurni da želite da naručite proizvode iz korpe?</h2>
        <table>
          <tr>
            <td>
              <button @click='naruci()'>Naruči</button>
            </td>
            <td>
              <button @click='odustani()'>Odustani</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";
import proizvodi from "../data/proizvodi";

export default {
  name: "MojaKorpa",
  components: {NavigationKupac},
  data() {
    return {
      sviProizvodi: proizvodi,
      mojiProizvodi: [],
      ukupnaCena: 0
    }
  },
  methods: {
    narucivanje() {
      this.$modal.show('NaruciModal')
    },
    odustani() {
      this.$modal.hide('NaruciModal')
    },
    naruci() {
      this.$modal.hide('NaruciModal')
      if (this.mojiProizvodi.length === 0) {
        this.$notify({
          group: "obavestenja",
          title: 'Upozorenje',
          text: 'Potrebno je da imate proizvode u korpi da bi ste izvršili ovu operaciju!',
          type: 'warn'
        })
      } else {
        const user = JSON.parse(localStorage.getItem('ulogovan'))
        let today = new Date().toLocaleDateString("sr")
        user.porudzbine.push({
          'id': user.porudzbine.length,
          'datum': today,
          'ukupnaCena': this.ukupnaCena+" din",
          'status': 'U obradi',
          'proizvodi': this.mojiProizvodi
        })
        user.proizvodiUKorpi = []
        this.mojiProizvodi = []
        this.ukupnaCena = 0

        localStorage.setItem('ulogovan', JSON.stringify(user))
        let myUsers = JSON.parse(localStorage.getItem('users'))
        myUsers = myUsers.filter(function (value) {
          return value.username !== user.username
        })
        myUsers.push(user)
        localStorage.setItem('users', JSON.stringify(myUsers))
        this.$notify({
          group: "obavestenja",
          title: 'Obaveštenje',
          text: 'Uspešno naručeni proizvodi!',
          type: 'success'
        })
      }
    },
    obrisi(id) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      user.proizvodiUKorpi = user.proizvodiUKorpi.filter(p => p.id !== id)
      localStorage.setItem('ulogovan', JSON.stringify(user))
      this.mojiProizvodi = []
      this.ukupnaCena = 0
      user.proizvodiUKorpi.forEach(infoProizvod => {
        const proizvod = this.sviProizvodi.find(p => p.id === infoProizvod.id);
        proizvod.kolicina = infoProizvod.kolicina
        this.mojiProizvodi.push(proizvod)
        this.ukupnaCena = parseInt(this.ukupnaCena) + proizvod.price.replace("din", "") * proizvod.kolicina
      })

      let myUsers = JSON.parse(localStorage.getItem('users'))
      myUsers = myUsers.filter(function (value) {
        return value.username !== user.username
      })
      myUsers.push(user)
      localStorage.setItem('users', JSON.stringify(myUsers))
      this.$notify({
        group: "obavestenja",
        title: 'Obaveštenje',
        text: 'Uspešno obrisan proizvod!',
        type: 'success'
      })
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {

        if (localStorage.getItem('proizvodi') == null) {
          localStorage.setItem('proizvodi', JSON.stringify(this.sviProizvodi))
        } else {
          this.sviProizvodi = JSON.parse(localStorage.getItem('proizvodi'))
        }
        this.ukupnaCena = 0
        user.proizvodiUKorpi.forEach(infoProizvod => {
          const proizvod = this.sviProizvodi.find(p => p.id === infoProizvod.id);
          proizvod.kolicina = infoProizvod.kolicina
          this.mojiProizvodi.push(proizvod)
          this.ukupnaCena = parseInt(this.ukupnaCena) + proizvod.price.replace("din", "") * proizvod.kolicina
        })

      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1083px) {
  .KorpaContent {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1083px) {
  .KorpaContent {
    margin-top: 160px;
  }
}

.KorpaContent {
  font-size: 1.2em;
}

.nameProduct {
  min-width: 200px;
  width: 30%;
  color: black;
  margin: auto auto;
}

.nameProduct:hover {
  color: #FFB84D;
}

.nameProductHeader {
  min-width: 200px;
  width: 30%;
}

.columnsProduct {
  min-width: 150px;
  width: 15%;
}

#productTable {
  width: 80%;
  margin: 20px auto;
}

#productTable td {
  justify-content: center !important;
  border: 0 !important;
  height: 70px;
  border: 0;
}

.headerKorpa td {
  background-color: #FFB84D !important;
}

.row td {
  background-color: #FFE0B3 !important;
}

#ukupnaCena {
  font-size: 1.4em;
}

#nnaruciButton {
  margin-left: 50px;
}
</style>