<template>
  <div>
    <div>
      <NavigationProdavac/>
    </div>
    <div class='contentMojiPodaciProdavac'>
      <div>
        <h1>Podaci o korisniku:</h1>
      </div>
      <table>
        <tr>
          <td class="left">Ime:</td>
          <td class="left">{{ user.ime }}</td>
        </tr>
        <tr>
          <td class="left">Prezime:</td>
          <td class="left">{{ user.prezime }}</td>
        </tr>
        <tr>
          <td class="left">Kontakt telefon:</td>
          <td class="left">{{ user.kontaktTelefon }}</td>
        </tr>
        <tr>
          <td class="left">Adresa:</td>
          <td class="left">{{ user.adresa }}</td>
        </tr>
        <tr>
          <td class="left">Korisničko ime:</td>
          <td class="left">{{ user.username }}</td>
        </tr>
        <tr>
          <td>
            <button @click='izmenaPodataka()'>Izmeni podatke</button>
          </td>
          <td>
            <button @click='izmenaLozinke()'>Izmeni lozinku</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import NavigationProdavac from "./NavigationProdavac";
export default {
name: "MojiPodaciProdavac",
  components: {NavigationProdavac},
  data() {
    return {
      user: []
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '0') {
        this.$router.push("/kupacHome")
      } else {
        this.user = user
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  },
  methods: {
    izmenaPodataka() {
      this.$router.push("IzmenaPodatakaProdavac")
    },
    izmenaLozinke() {
      this.$router.push("IzmenaLozinkeProdavac")
    }
  }
}
</script>

<style>
@media screen and (max-width: 1091px) {
  .contentMojiPodaciProdavac   {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1091px) {
  .contentMojiPodaciProdavac {
    margin-top: 160px;
  }
}

.contentMojiPodaciProdavac {
  font-size: 1.2em !important;
}

.contentMojiPodaciProdavac table {
  margin: 0 auto;
}

.contentMojiPodaciProdavac table td {
  padding: 5px 0;
}
</style>