<template>
  <section class="navigation">
    <nav class='navbarContainer'>
      <div class='navbar-brand'>
        <router-link to="/kupacHome">
          <b>Medenjaci</b>
        </router-link>
      </div>
      <div class='navbar-menu'>
        <router-link to="/MojiPodaciKupac">
          <div>Moji podaci</div>
        </router-link>
        <router-link to="/MojaKorpa">
          <div>Moja korpa</div>
        </router-link>
        <router-link to="/Proizvodi">
          <div>Proizvodi</div>
        </router-link>
        <router-link to="/PorudzbineKupac">
          <div>Porudžbine</div>
        </router-link>
        <router-link to="">
          <div @click="odjava()">Odjavi se</div>
        </router-link>
      </div>
    </nav>
    <modal name='OdjavaModal'>
      <div>
        <h2>Da li ste sigurni da želite da se odjavite?</h2>
        <table>
          <tr>
            <td>
              <button @click='logOut()'>Odjavi se</button>
            </td>
            <td>
              <button @click='odustani()'>Odustani</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </section>
</template>

<script>
export default {
  name: "NavigationKupac",
  methods: {
    odjava() {
      this.$modal.show('OdjavaModal')
    },
    odustani() {
      this.$modal.hide('OdjavaModal')
    },
    logOut() {
      localStorage.removeItem('ulogovan')
      this.$modal.hide('OdjavaModal')
      this.$router.push("/")
      this.$notify({
        group: 'obavestenja',
        title: 'Obaveštenje',
        text: 'Uspšno ste se odjavili iz sistema.',
        type: 'success'
      })
    }
  }
}
</script>

<style>
.navigation {
  background-color: #FFE0B3;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  min-width: 780px;
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.navbar-menu div:hover {
  background-color: rgba(255, 184, 77, 0.5);
}

.navbar-menu a {
  font-weight: bold;
  font-size: 1.6em;
  color: black !important;
}

.navbar-brand b {
  font-size: 3.5em;
  text-align: center !important;
  color: black !important;
  margin-right: 50px;
}

.navbar-brand {
  padding-bottom: 5px;
}

.navbar-menu div {
  min-width: 150px;
  min-height: 50px;
  border: #FFE0B3 1px solid;
  background-color: #FFB84D;
  text-align: center !important;
  padding: 20px 0;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
}

.navbarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}

.vm--modal {
  height: auto !important;
  width: 650px !important;
}
</style>