<template>
  <section class="navigation">
    <nav class='navbarContainer'>
      <div class='navbar-brand'>
        <router-link to="/ProdavacHome">
          <b>Medenjaci</b>
        </router-link>
      </div>
      <div class='navbar-menu prodavacNavbar'>
        <router-link to="/MojiPodaciProdavac">
          <div>Moji podaci</div>
        </router-link>
        <router-link to="/PorudzbineProdavac">
          <div>Porudžbine</div>
        </router-link>
        <router-link to="/DodavanjeProizvoda">
          <div>Dodaj proizvod</div>
        </router-link>
        <router-link to="">
          <div @click="odjava()">Odjavi se</div>
        </router-link>
      </div>
    </nav>
    <modal name='OdjavaModal'>
      <div>
        <h2>Da li ste sigurni da želite da se odjavite?</h2>
        <table>
          <tr>
            <td>
              <button @click='logOut()'>Odjavi se</button>
            </td>
            <td>
              <button @click='odustani()'>Odustani</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </section>
</template>

<script>
export default {
  name: "NavigationProdavac",
  methods: {
    odjava() {
      this.$modal.show('OdjavaModal')
    },
    odustani() {
      this.$modal.hide('OdjavaModal')
    },
    logOut() {
      localStorage.removeItem('ulogovan')
      this.$modal.hide('OdjavaModal')
      this.$router.push("/")
      this.$notify({
        group: 'obavestenja',
        title: 'Obaveštenje',
        text: 'Uspšno ste se odjavili iz sistema.',
        type: 'success'
      })
    }
  }
}
</script>

<style>
.prodavacNavbar div {
  min-width: 190px !important;
}
</style>