<template>
  <div>
    <div>
      <NavigationProdavac/>
    </div>
    <div class="PorudzbineContentProdavac">
      <div>
        <h1>Detalji porudžbine:</h1>
      </div>
      <div>
        <table id="tableInfo">
          <tr v-if="porudzbina.status!='U obradi'">
            <td class="left">Status:</td>
            <td class="left">{{ porudzbina.status }}</td>
          </tr>
          <tr v-if="porudzbina.status=='U obradi'">
            <td class="left">
              <button @click="prihvatanje()">Prihvati</button>
            </td>
            <td class="left">
              <button @click="odbijanje()">Odbij</button>
            </td>
          </tr>
          <tr>
            <td class="left">Datum:</td>
            <td class="left">{{ porudzbina.datum }}</td>
          </tr>
          <tr>
            <td class="left">Ukupna cena:</td>
            <td class="left">{{ porudzbina.ukupnaCena }}</td>
          </tr>
          <tr>
            <td class="left">Korisnik:</td>
            <td class="left">{{ porudzbina.name }}</td>
          </tr>
          <tr>
            <td class="left">Adresa:</td>
            <td class="left">{{ porudzbina.adresa }}</td>
          </tr>
        </table>
      </div>
      <div>
        <h2>Proizvodi:</h2>
      </div>
      <div class="headerKorpa tabelaProizvoda">
        <table id="productTable">
          <tr class="headerKorpa">
            <td class="nameProductHeader">Naziv</td>
            <td class="columnsProduct">Cena po komadu</td>
            <td class="columnsProduct">Količina</td>
            <td class="columnsProduct">Ukupna cena</td>
          </tr>
          <tr class='row' v-for='e in porudzbina.proizvodi' v-bind:key="e.id">
            <td>
              <router-link :to="/ProizvodInfoProdavac/+e.id">
                <div class="nameProduct">{{ e.name }}</div>
              </router-link>
            </td>
            <td class="columnsProduct">{{ e.price }}</td>
            <td class="columnsProduct">{{ e.kolicina }}</td>
            <td class="columnsProduct">{{ e.price.replace("din", "") * e.kolicina + "din" }}</td>
          </tr>
        </table>
      </div>
    </div>
    <modal name='OdbijanjeModal'>
      <div>
        <h2>Da li ste sigurni da želite da odbijete ovu porudžbinu?</h2>
        <table>
          <tr>
            <td>
              <button @click='odbij()'>Odbij</button>
            </td>
            <td>
              <button @click='odustani()'>Odustani</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
    <modal name='PrihvatanjeModal'>
      <div>
        <h2>Unesite potreban broj dana za dostavu.</h2>
        <table>
          <tr>
            <td colspan="2">
              <label class="brojDana" style="margin-right: 22px">Broj dana:</label>
              <input class="brojDana" type='number' v-model='brojDana' min="1"></td>
          </tr>
          <tr>
            <td>
              <button @click='prihvati()'>Prihvati</button>
            </td>
            <td>
              <button @click='odustani()'>Odustani</button>
            </td>
          </tr>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
import NavigationProdavac from "./NavigationProdavac";

export default {
  name: "PorudzbinaInfoProdavac",
  components: {NavigationProdavac},
  data() {
    return {
      porudzbina: {},
      brojDana: 1
    }
  },
  methods: {
    odbij() {
      this.$modal.hide('OdbijanjeModal')
      const id = Number(this.$route.params.id);
      const users = JSON.parse(localStorage.getItem('users'));
      let index = 0;
      users.forEach(u => u.porudzbine.forEach(p => {
        if (index === id) {
          p.status = 'Odbijeno'
          this.porudzbina.status = 'Odbijeno'
        }
        index++
      }))
      localStorage.setItem('users', JSON.stringify(users))
    },
    odbijanje() {
      this.$modal.show('OdbijanjeModal')
    },
    odustani() {
      this.$modal.hide('OdbijanjeModal')
      this.$modal.hide('PrihvatanjeModal')
    },
    prihvatanje() {
      this.$modal.show('PrihvatanjeModal')
    },
    prihvati() {
      this.$modal.hide('PrihvatanjeModal')
      const id = Number(this.$route.params.id);
      const users = JSON.parse(localStorage.getItem('users'));
      let index = 0;
      users.forEach(u => u.porudzbine.forEach(p => {
        if (index === id) {
          p.status = 'Prihvaćeno - ' + this.brojDana + ' dana'
          this.porudzbina.status =  'Prihvaćeno - ' + this.brojDana + ' dana'
        }
        index++
      }))
      localStorage.setItem('users', JSON.stringify(users))
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '0') {
        this.$router.push("/kupacHome")
      } else {
        const id = Number(this.$route.params.id);
        const users = JSON.parse(localStorage.getItem('users'));
        let index = 0;
        users.forEach(u => u.porudzbine.forEach(p => {
          if (index === id) {
            this.porudzbina = p
            this.porudzbina.name = u.username
            this.porudzbina.adresa = u.adresa
          }
          index++
        }))
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1091px) {
  .PorudzbineContentProdavac {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1091px) {
  .PorudzbineContentProdavac {
    margin-top: 160px;
  }
}

.PorudzbineContentProdavac button {
  width: 170px;
  font-size: 1em;
}

.tabelaProizvoda {
  font-size: 1.2em;
}

.brojDana {
  width: 80px;
  font-size: 1.3em;
}
</style>