<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class="PorudzbineContent">
      <div>
        <h1>Moje porudžbine:</h1>
      </div>
      <div>
        <div class="headerKorpa">
          <table id="productTable">
            <tr class="headerKorpa">
              <td class="nameProductHeader">Datum</td>
              <td class="nameProductHeader">Ukupna cena</td>
              <td class="nameProductHeader">Status</td>
            </tr>
            <tr class='row' v-for='e in mojePorduzbine' v-bind:key="e.id">
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfo/+e.id">
                  <div>{{ e.datum }}
                  </div>
                </router-link>
              </td>
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfo/+e.id">
                  <div>{{ e.ukupnaCena }}
                  </div>
                </router-link>
              </td>
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfo/+e.id">
                  <div>{{ e.status }}
                  </div>
                </router-link>
              </td>
            </tr>
            <tr class="row" v-if="prazno">
              <td colspan="5">Nemate nijednu porudžbinu! Pogledajte dostupne proizvode ovde:
                <router-link to="/Proizvodi">Link</router-link>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";

export default {
  name: "PorudzbineKupac",
  components: {NavigationKupac},
  data() {
    return {
      mojePorduzbine: [],
      prazno: true
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {

        if (user.porudzbine !== []) {
          this.prazno = false;
        }
        user.porudzbine.forEach(p => {
          this.mojePorduzbine.push({
            'id': p.id,
            'datum': p.datum,
            'ukupnaCena': p.ukupnaCena,
            'status': p.status
          })
        })
        this.mojePorduzbine.reverse()

      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1083px) {
  .PorudzbineContent {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1083px) {
  .PorudzbineContent {
    margin-top: 160px;
  }
}

.PorudzbineContent{
  font-size: 1.2em;
}

.nameProduct div {
  color: black;
}

</style>