<template>
  <div>
    <div>
      <NavigationProdavac/>
    </div>
    <div class="prodavacPorudzbine">
      <div>
        <h1>Moje porudžbine:</h1>
      </div>
      <div>
        <div class="headerKorpa">
          <table id="productTable">
            <tr class="headerKorpa">
              <td class="nameProductHeader">Korisnik</td>
              <td class="nameProductHeader">Datum</td>
              <td class="nameProductHeader">Ukupna cena</td>
              <td class="nameProductHeader">Status</td>
            </tr>
            <tr class='row' v-for='e in mojePorduzbine' v-bind:key="e.id">
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfoProdavac/+e.id">
                  <div>{{ e.name }}
                  </div>
                </router-link>
              </td>
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfoProdavac/+e.id">
                  <div>{{ e.datum }}
                  </div>
                </router-link>
              </td>
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfoProdavac/+e.id">
                  <div>{{ e.ukupnaCena }}
                  </div>
                </router-link>
              </td>
              <td class="nameProduct">
                <router-link :to="/PorudzbinaInfoProdavac/+e.id">
                  <div>{{ e.status }}
                  </div>
                </router-link>
              </td>
            </tr>
            <tr class="row" v-if="prazno">
              <td colspan="5">Nemate nijednu porudžbinu!
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationProdavac from "./NavigationProdavac";

export default {
  name: "PorudzbineProdavac",
  components: {NavigationProdavac},
  data() {
    return {
      mojePorduzbine: [],
      prazno: true
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '0') {
        this.$router.push("/kupacHome")
      } else {
        const users = JSON.parse(localStorage.getItem('users'));
        let index = 0;
        users.forEach(u => u.porudzbine.forEach(p => {
          this.mojePorduzbine.push({
            'name': u.username,
            'id': index,
            'datum': p.datum,
            'ukupnaCena': p.ukupnaCena,
            'status': p.status
          })
          index++
        }))

        this.mojePorduzbine.sort(function (a, b) {
          return a.status === 'U obradi' ? -1 : b.status === 'U obradi' ? 1 : 0;
        })

        if (this.mojePorduzbine !== []) {
          this.prazno = false;
        }
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>

@media screen and (max-width: 1108px) {
  .prodavacPorudzbine {
    margin-top: 240px !important;
  }
}

@media screen and (min-width: 1108px) {
  .prodavacPorudzbine {
    margin-top: 160px !important;
  }
}

.prodavacPorudzbine{
  font-size: 1.2em;
}

</style>