<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class="PorudzbineContent">
      <div>
        <h1>Detalji porudžbine:</h1>
      </div>
      <div>
        <table id="tableInfo">
          <tr>
            <td class="left">Status:</td>
            <td class="left">{{ porudzbina.status }}</td>
          </tr>
          <tr>
            <td class="left">Datum:</td>
            <td class="left">{{ porudzbina.datum }}</td>
          </tr>
          <tr>
            <td class="left">Ukupna cena:</td>
            <td class="left">{{ porudzbina.ukupnaCena }}</td>
          </tr>
        </table>
      </div>
      <div>
        <h2>Proizvodi:</h2>
      </div>
      <div class="headerKorpa">
        <table id="productTable">
          <tr class="headerKorpa">
            <td class="nameProductHeader">Naziv</td>
            <td class="columnsProduct">Cena po komadu</td>
            <td class="columnsProduct">Količina</td>
            <td class="columnsProduct">Ukupna cena</td>
          </tr>
          <tr class='row' v-for='e in porudzbina.proizvodi' v-bind:key="e.id">
            <td>
              <router-link :to="/ProizvodInfo/+e.id">
                <div class="nameProduct">{{ e.name }}</div>
              </router-link>
            </td>
            <td class="columnsProduct">{{ e.price }}</td>
            <td class="columnsProduct">{{ e.kolicina }}</td>
            <td class="columnsProduct">{{ e.price.replace("din", "") * e.kolicina + "din" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";

export default {
  name: "PorudzbinaInfo",
  components: {NavigationKupac},
  data() {
    return {
      porudzbina: {}
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {
        const id = Number(this.$route.params.id);
        user.porudzbine.forEach(p => {
          if (p.id === id) {
            this.porudzbina = p
          }
        })
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1083px) {
  .PorudzbineContent {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1083px) {
  .PorudzbineContent {
    margin-top: 160px;
  }
}

#tableInfo {
  margin: 0 auto;
  font-size: 1.2em;
}

#tableInfo td {
  padding: 5px;
}

</style>