<template>
  <div>
    <div>
      <NavigationProdavac/>
    </div>
    <div class="contentProdavac">
      <div>
        <img src="../assets/bee.png" height="200px">
      </div>
      <div>
        <label>Prodavac: {{ name }}</label>
      </div>
      <div>
        <label>Dobrodošli u virtuelnu pčelarsku radnju!</label>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationProdavac from "./NavigationProdavac";
export default {
  name: "ProdavacHome",
  components: {NavigationProdavac},
  data() {
    return {
      name: ''
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '0') {
        this.$router.push("/kupacHome")
      } else {
        this.name = user.ime
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1091px) {
  .contentProdavac {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1091px) {
  .contentProdavac {
    margin-top: 160px;
  }
}

.contentProdavac {
  justify-content: center;
  font-size: 2em;
}

.contentProdavac div {
  margin-bottom: 40px;
}
</style>