<template>
  <div @mouseenter="loadImage()">
    <div>
      <NavigationKupac/>
    </div>
    <div class="proizvodInfoContent">
      <div>
        <h1>Detalji proizvoda:</h1>
      </div>
      <div class="cardInfo">
        <div class="imageInfo" v-if="myProizvod.fajl==null">
          <img :src="require('../assets/'+myProizvod.picture)" width="300px">
        </div>
        <div class="imageInfo" v-if="myProizvod.fajl!=null">
          <button id="specialImage"/>
        </div>
        <div class="vLine"></div>
        <div>
          <div>
            <h2>{{ myProizvod.name }}</h2>
          </div>
          <div class="left">Opis:</div>
          <div class="tekstInfo">{{ myProizvod.opis }}</div>
          <div class="left">Način korišćenja:</div>
          <div class="tekstInfo">{{ myProizvod.nacinKoriscenja }}</div>
          <div class="left">Cena: {{ myProizvod.price }}</div>
          <div class="left">
            <label class="left">Količina:</label>
            <input id="kolicina" type='number' v-model='kolicina' min="1">
          </div>
          <div>
            <button id="kolicinaButton" @click='dodajUKorpu()'>Dodaj u korpu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";
import proizvodi from "../data/proizvodi";

export default {
  name: "ProizvodInfo",
  components: {NavigationKupac},
  data() {
    return {
      myProizvod: {"picture": "bee.png"},
      kolicina: 1,
      sviProizvodi:proizvodi
    }
  },
  methods: {
    loadImage(){
      if(this.myProizvod.fajl!=null){
        document.getElementById('specialImage').style.background = `url(data:image/png;base64,${this.myProizvod.fajl})`
        document.getElementById('specialImage').style.backgroundSize = `cover`
        document.getElementById('specialImage').style.backgroundRepeat = `no-repeat`
      }
    },
    dodajUKorpu() {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      const proizvod = user.proizvodiUKorpi.find(p => p.id === this.myProizvod.id)
      if (proizvod == null) {
        user.proizvodiUKorpi.push({"id": this.myProizvod.id, "kolicina": parseInt(this.kolicina)})
      } else {
        proizvod.kolicina = parseInt(proizvod.kolicina) + parseInt(this.kolicina)
      }
      localStorage.setItem('ulogovan', JSON.stringify(user))
      const myUsers = JSON.parse(localStorage.getItem('users')).filter(function (value) {
        return value.username !== user.username
      });
      myUsers.push(user)
      localStorage.setItem('users', JSON.stringify(myUsers))
      this.$router.push("/Proizvodi")
      this.$notify({
        group: 'obavestenja',
        title: 'Obaveštenje',
        text: 'Uspšno ste se dodali proizvod u korpu!',
        type: 'success'
      })
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {
        if (localStorage.getItem('proizvodi') == null) {
          localStorage.setItem('proizvodi', JSON.stringify(this.sviProizvodi))
        } else {
          const id = Number(this.$route.params.id);
          this.myProizvod = JSON.parse(localStorage.getItem('proizvodi')).find(proizvod => proizvod.id === id)
        }
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
#specialImage {
  width: 300px !important;
  height: 300px !important;
  margin: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

#specialImage:hover {
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  .proizvodInfoContent {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1100px) {
  .proizvodInfoContent {
    margin-top: 160px;
  }
}

.cardInfo {
  background-color: #FFE0B3;
  margin: 30px auto;
  min-width: 600px;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
}

#kolicina {
  width: 60px;
  font-size: 1.3em;
}

#kolicinaButton {
  width: 250px;
}

.cardInfo div {
  margin: 10px;
}

.tekstInfo {
  text-align: left;
}

.vLine {
  border-right: black solid 3px;
}

.imageInfo {
  margin-top: auto !important;
  margin-bottom: auto !important;
  width: 49%;
}
</style>