<template>
  <div @mouseenter="loadImage()">
    <div>
      <NavigationProdavac/>
    </div>
    <div class="proizvodInfoContentProdavac">
      <div>
        <h1>Detalji proizvoda:</h1>
      </div>
      <div class="cardInfo">
        <div class="imageInfo" v-if="myProizvod.fajl==null">
          <img :src="require('../assets/'+myProizvod.picture)" width="300px">
        </div>
        <div class="imageInfo" v-if="myProizvod.fajl!=null">
          <button id="specialImage"/>
        </div>
        <div class="vLine"></div>
        <div>
          <div>
            <h2>{{ myProizvod.name }}</h2>
          </div>
          <div class="left">Opis:</div>
          <div class="tekstInfo">{{ myProizvod.opis }}</div>
          <div class="left">Način korišćenja:</div>
          <div class="tekstInfo">{{ myProizvod.nacinKoriscenja }}</div>
          <div class="left">Cena: {{ myProizvod.price }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationProdavac from "./NavigationProdavac";
import proizvodi from "../data/proizvodi";

export default {
  name: "ProizvodInfoProdavac",
  components: {NavigationProdavac},
  data() {
    return {
      myProizvod: {"picture": "bee.png"},
      sviProizvodi: proizvodi
    }
  },
  methods:{
    loadImage(){
      if (this.myProizvod.fajl != null) {
        document.getElementById('specialImage').style.background = `url(data:image/png;base64,${this.myProizvod.fajl})`
        document.getElementById('specialImage').style.backgroundSize = `cover`
        document.getElementById('specialImage').style.backgroundRepeat = `no-repeat`
      }
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '0') {
        this.$router.push("/kupacHome")
      } else {
        if (localStorage.getItem('proizvodi') == null) {
          localStorage.setItem('proizvodi', JSON.stringify(this.sviProizvodi))
        } else {
          const id = Number(this.$route.params.id);
          this.myProizvod = JSON.parse(localStorage.getItem('proizvodi')).find(proizvod => proizvod.id === id)
        }
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
#specialImage {
  width: 300px !important;
  height: 300px !important;
  margin: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

#specialImage:hover {
  background-color: transparent;
}

@media screen and (max-width: 1091px) {
  .proizvodInfoContentProdavac {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1091px) {
  .proizvodInfoContentProdavac {
    margin-top: 160px;
  }
}
</style>