<template>
  <div>
    <div>
      <NavigationKupac/>
    </div>
    <div class="proizvodiContent">
      <div>
        <h1>Svi proizvodi:</h1>
      </div>
      <div class="cards">
        <div v-for='(p,id) in sviProizvodi' v-bind:key="id">
          <Proizvod :proizvod='p'/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationKupac from "./NavigationKupac";
import Proizvod from "./Proizvod";
import proizvodi from "../data/proizvodi";

export default {
  name: "Proizvodi",
  components: {
    NavigationKupac,
    Proizvod
  },
  data() {
    return {
      sviProizvodi: proizvodi
    }
  },
  mounted() {
    if (localStorage.getItem('ulogovan') !== null) {
      const user = JSON.parse(localStorage.getItem('ulogovan'))
      if (user.tipKorisnika === '1') {
        this.$router.push("/ProdavacHome")
      } else {
        if (localStorage.getItem('proizvodi') == null) {
          localStorage.setItem('proizvodi', JSON.stringify(this.sviProizvodi))
        } else {
          this.sviProizvodi = JSON.parse(localStorage.getItem('proizvodi'))
        }
      }
    } else {
      this.$notify({
        group: "obavestenja",
        title: 'Greška',
        text: 'Potrebno je da budete prijavljeni na sitem.',
        type: 'error'
      })
      this.$router.push('/')
    }
  }
}
</script>

<style>
@media screen and (max-width: 1100px) {
  .proizvodiContent {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1100px) {
  .proizvodiContent {
    margin-top: 160px;
  }
}

.proizvodiContent {
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>