<template>
  <div class="mraginCard">
    <router-link :to="/ProizvodInfo/+proizvod.id">
      <div class="card">
        <div v-if="proizvod.fajl==null">
          <img :src="require('../assets/'+proizvod.picture)" height="200px">
        </div>
        <div class="specialImageDiv" v-if="proizvod.fajl!=null">
          <button :id="'specialImage'+proizvod.id"/>
        </div>
        <div>
          <label>{{ proizvod.name }}</label>
        </div>
        <div>
          <label>Cena: {{ proizvod.price }}</label>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Proizvod",
  props: [
    'proizvod'
  ],
  mounted() {
    if(this.proizvod.fajl!=null){
      document.getElementById('specialImage'+this.proizvod.id).style.background = `url(data:image/png;base64,${this.proizvod.fajl})`
      document.getElementById('specialImage'+this.proizvod.id).style.backgroundSize = `cover`
      document.getElementById('specialImage'+this.proizvod.id).style.backgroundRepeat = `no-repeat`
    }
  }
}
</script>

<style>
.specialImageDiv button{
  max-width: 200px!important;
  height: 200px!important;
  margin: 0!important;
  padding: 0 !important;
  margin: 0 !important;
}
.specialImageDiv button:hover{
  background-color: transparent;
}

.card {
  background-color: #FFE0B3;
  width: 250px;
  padding: 15px;
  font-size: 1.2em;
  color: black;
}

.mraginCard {
  margin: 25px;
}
</style>